<template name="myownmarket">
    
    {{#if currentUser}}
    
    <div class="container">
    <div class="row">
    <center>
    <form class="add_article">
        <input type="text" name="titre" class="form-control" placeholder="Titre du produit" /><br />
        <input type="text" name="desc" class="form-control" placeholder="Description" /><br />
        <div class="input-group">
          <input type="text" class="form-control" name="prix" placeholder="Prix/quantité">
          <div class="input-group-addon">€</div>
        </div><br/>
        <input type="text" name="quantite" class="form-control" placeholder="Quantité" /><br />
        <button class="btn btn-default" type="submit" enabled="true">Mettre en vente</button>
    </form>
    </center>
        
        {{#each my_market}}
            <div class="article">
                <h1>{{title}}</h1>
                <p>{{description}}</p>
                <p>EUR : {{price}}</p>
                <p>stock : {{quantity}}</p>
            </div>
        {{/each}}
    </div>
    </div>
        
    {{else}}
        <center><h1>EEhhhh non la hein tu n'es pas connecté</h1></center>
    {{/if}}
</template>